# ML Assignment

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
cd '/content/gdrive/MyDrive/ml_data'

/content/gdrive/MyDrive/ml_data

### Importing Data

In [24]:
import pandas as pd

webkb_train = pd.read_csv('webkb-train-stemmed.txt', sep='\t', names=['label', 'bow'])
webkb_test = pd.read_csv('webkb-test-stemmed.txt', sep='\t', names=['label', 'bow'])

#display(webkb_train)
#display(webkb_test)

### Merging Data

In [32]:
frames = [webkb_train, webkb_test]
webkb = pd.concat(frames)

display(webkb)

        label                                                bow
0     student  brian comput scienc depart univers wisconsin d...
1     student  denni swanson web page mail pop uki offic hour...
2     faculty  russel impagliazzo depart comput scienc engin ...
3     student  dave phd student depart comput scienc univers ...
4     project  center lifelong learn design univers colorado ...
...       ...                                                ...
1391  student  scott pictur background scott phd student coll...
1392   course  advanc oper system fall marvin offic comput sc...
1393  project  human robot hand group head kenneth salisburi ...
1394   course  databas manag system design implement inform p...
1395  student  lick home page gener info mail address lick gr...

[4199 rows x 2 columns]

### Representing in Counts Form

In [44]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer()

bow_counts = cv.fit_transform(webkb.bow.values.astype(str))

print(bow_counts.shape)

(4199, 7771)


### Finding TF-IDF

In [47]:
from sklearn.feature_extraction.text import TfidfTransformer

tt = TfidfTransformer()
bow_tfidf = tt.fit_transform(bow_counts)

print(bow_tfidf)

  (0, 7687)	0.06621415443604788
  (0, 7662)	0.027992190085127096
  (0, 7659)	0.06387912082713444
  (0, 7647)	0.05443117026804293
  (0, 7632)	0.034790879104933115
  (0, 7631)	0.0334044296071481
  (0, 7616)	0.06013606329887504
  (0, 7554)	0.035465737540711806
  (0, 7553)	0.037588422378730016
  (0, 7544)	0.044947592634663254
  (0, 7523)	0.055656719252572116
  (0, 7487)	0.05708182043267829
  (0, 7486)	0.0523985408705663
  (0, 7479)	0.11131343850514423
  (0, 7335)	0.02972280179536611
  (0, 7281)	0.025793796679512284
  (0, 7277)	0.06486243303094841
  (0, 7276)	0.03904314246013432
  (0, 7142)	0.049362102745393543
  (0, 7108)	0.041115995927876375
  (0, 7096)	0.04009246038295486
  (0, 6968)	0.06708834981284727
  (0, 6879)	0.024812371861587943
  (0, 6876)	0.08483167790752823
  (0, 6819)	0.038047027899627085
  :	:
  (4198, 6658)	0.0741144065057954
  (4198, 6107)	0.05261944488533123
  (4198, 6089)	0.17317638523476284
  (4198, 5907)	0.23939186834455267
  (4198, 5822)	0.0633141060633435
  (4198, 5382)	0.37617929648635073
  (4198, 5207)	0.0891440223450244
  (4198, 5026)	0.12390817501115592
  (4198, 4899)	0.08175198367966945
  (4198, 4176)	0.08955911244942248
  (4198, 4021)	0.6093390979559451
  (4198, 3867)	0.1116101028359545
  (4198, 3410)	0.13821378841217494
  (4198, 3168)	0.14267296331998325
  (4198, 2887)	0.09382222153971069
  (4198, 2776)	0.10033226197224374
  (4198, 2209)	0.0891440223450244
  (4198, 1837)	0.06523672921998626
  (4198, 1391)	0.04659765195596609
  (4198, 961)	0.12999280394636775
  (4198, 819)	0.20872873362919278
  (4198, 540)	0.12564968689547648
  (4198, 441)	0.11142496941895286
  (4198, 92)	0.10673742364586374
  (4198, 49)	0.19732415027750272

### Test Train Split

In [61]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(bow_tfidf, webkb.label, test_size=0.30, shuffle=False, random_state=42)

### Random Forest

In [64]:
from sklearn.ensemble import RandomForestClassifier

rfc = RandomForestClassifier(random_state=42)

rfc.fit(X_train, y_train)

y_predicted = rfc.predict(X_test)

#print(y_test)
#print(y_predicted)

### Accuracy and Confusion Matrix

In [65]:
from sklearn import metrics

print("\nTest Accuracy: ", metrics.accuracy_score(y_test, y_predicted))
print("\nConfusion Matrix \n\n", metrics.confusion_matrix(y_test, y_predicted))

Test Accuracy:  0.8785714285714286

Confusion Matrix

 [[267   0   1  13]
 [  6 291   3  39]
 [  4  19  92  36]
 [  5  23   4 457]]

### Naive Bayes

In [67]:
from sklearn.naive_bayes import MultinomialNB

mnb = MultinomialNB()

mnb.fit(X_train, y_train)

y_predicted = mnb.predict(X_test)

### Accuracy and Confusion Matrix

In [68]:
from sklearn import metrics

print("\nTest Accuracy: ", metrics.accuracy_score(y_test, y_predicted))
print("\nConfusion Matrix \n\n", metrics.confusion_matrix(y_test, y_predicted))

Test Accuracy:  0.7753968253968254

Confusion Matrix

 [[254  10   0  17]
 [  5 278   0  56]
 [  7 100   1  43]
 [  7  38   0 444]]